/**
 * CSS Reset - Makes all browsers look the same
 * Removes default margins, paddings, and styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove button default styles */
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
